##-------------------------------------------------------------------------------------------------
# object:  IAM/DataPipeline
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- IAM -----------------------------------------------------------------------------
    - Base/IAM/Role/DataPipelineWorkflowDefault
    - Base/IAM/Role/DataPipelineEC2ResourceDefault

##-------------------------------------------------------------------------------------------------
  Outputs:
