##-------------------------------------------------------------------------------------------------
# object:  IAM/SAML_User_IDP_Fetch
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- IAM -----------------------------------------------------------------------------
    - Base/IAM/SAMLUserIDPFetch

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- IAM -----------------------------------------------------------------------------
    - Base/IAM/User/SAMLUserIDPFetch

##-------------------------------------------------------------------------------------------------
  Outputs:
