##-------------------------------------------------------------------------------------------------
# object:  Account/SetupRegion
# class:   template
##-------------------------------------------------------------------------------------------------

Paradigm:
  Parameters:
    #-- S3 ------------------------------------------------------------------------------
    - Base/S3/S3BucketLogsRegionName
    - Base/S3/S3BucketArtifactsRegionName

    #-- Config --------------------------------------------------------------------------
    - Base/Config/ConfigDeliveryFrequency
    - Base/Config/ConfigIncludeGlobalResourceTypes

    #-- Lambda --------------------------------------------------------------------------
    - Base/Logs/LogRetentionAMILookupCustom
    - Base/Logs/LogRetentionAMILookupAmazonLinux2
    - Base/Logs/LogRetentionNetworkLBIpAddress
    - Base/Logs/LogRetentionStackReference
    - Base/Logs/LogRetentionVPCSubnetCIDR

    #-- EC2 Logs ------------------------------------------------------------------------
    - Base/Logs/LogRetentionEC2LinuxHIDSAlerts
    - Base/Logs/LogRetentionEC2LinuxHostMessages
    - Base/Logs/LogRetentionEC2LinuxAuthentication

    #-- GuardDuty -----------------------------------------------------------------------
    - Base/GuardDuty/EnableGuardDuty
    - Base/GuardDuty/GuardDutyFindingPublishingFrequency

##-------------------------------------------------------------------------------------------------
  Mappings:
    - Base/AWS/AccountsELB

##-------------------------------------------------------------------------------------------------
  Conditions:
    #-- GuardDuty -----------------------------------------------------------------------
    - Base/GuardDuty/EnabledGuardDuty

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- KMS -----------------------------------------------------------------------------
    - Base/KMS/Key/AuditRegion
    - Base/KMS/Alias/AuditRegion

    #-- S3 ------------------------------------------------------------------------------
    - Base/S3/Bucket/LogsRegion
    - Base/S3/BucketPolicy/LogsRegion
    - Base/S3/Bucket/ArtifactsRegion

    #-- Config --------------------------------------------------------------------------
    - Base/SNS/Topic/Config
    - Base/SNS/TopicPolicy/Config
    - Base/IAM/Role/Config
    - Base/Config/DeliveryChannel/Region
    - Base/Config/ConfigurationRecorder/Region

    #-- Lambda --------------------------------------------------------------------------
    - Base/Lambda/Function/AMILookupCustom
    - Base/Lambda/Function/AMILookupAmazonLinux2
    - Base/Lambda/Function/NetworkLBIpAddress
    - Base/Lambda/Function/StackReference
    - Base/Lambda/Function/VPCSubnetCIDR
    - Base/IAM/Role/LambdaFunctionAMILookupCustom
    - Base/IAM/Role/LambdaFunctionAMILookupAmazonLinux2
    - Base/IAM/Role/LambdaFunctionNetworkLBIpAddress
    - Base/IAM/Role/LambdaFunctionStackReference
    - Base/IAM/Role/LambdaFunctionVPCSubnetCIDR
    - Base/Logs/LogGroup/LambdaFunctionAMILookupCustom
    - Base/Logs/LogGroup/LambdaFunctionAMILookupAmazonLinux2
    - Base/Logs/LogGroup/LambdaFunctionNetworkLBIpAddress
    - Base/Logs/LogGroup/LambdaFunctionStackReference
    - Base/Logs/LogGroup/LambdaFunctionVPCSubnetCIDR

    #-- Cloudwatch Logs -----------------------------------------------------------------
    - Base/Logs/LogGroup/EC2LinuxHIDSAlerts
    - Base/Logs/LogGroup/EC2LinuxHostMessages
    - Base/Logs/LogGroup/EC2LinuxAuthentication

    #-- GuardDuty -----------------------------------------------------------------------
    - Base/GuardDuty/Detector/Region

##-------------------------------------------------------------------------------------------------
  Outputs:
    #-- S3 ------------------------------------------------------------------------------
    - Base/S3/S3BucketLogs
    - Base/S3/S3BucketArtifacts

    #-- Config --------------------------------------------------------------------------
    - Base/SNS/Topic/ConfigArn
    - Base/SNS/Topic/ConfigTopicName
