##-------------------------------------------------------------------------------------------------
# object: AMI/Custom
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- Instance ------------------------------------------------------------------------
    - Base/Instance/AMICustom

    #-- AutoScaling ---------------------------------------------------------------------
    - Base/AutoScaling/LaunchTemplateUpdated

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Lambda --------------------------------------------------------------------------
    - Base/Custom/AMICustom

##-------------------------------------------------------------------------------------------------
  Outputs:

##-------------------------------------------------------------------------------------------------
  Targets:
