##-------------------------------------------------------------------------------------------------
# object:  DNS/Instance
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- DNS -----------------------------------------------------------------------------
    - Base/DNS/DNSInstance

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- IAM -----------------------------------------------------------------------------
    - Base/IAM/Policy/DNSInstance

##-------------------------------------------------------------------------------------------------
  Outputs:
    #-- Instance ------------------------------------------------------------------------
    - Base/DNS/DNSInstanceSubdomain
    - Base/DNS/DNSInstanceDomain
    - Base/DNS/DNSInstanceHostedZoneID

##-------------------------------------------------------------------------------------------------
  Targets:
