##-------------------------------------------------------------------------------------------------
# object:  Log/Application_Error
# class:   template
##-------------------------------------------------------------------------------------------------

Paradigm:
##-------------------------------------------------------------------------------------------------
  Parameters:
    - Base/Logs/LogRetentionDays

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    - Base/Logs/LogGroup/ApplicationError

##-------------------------------------------------------------------------------------------------
  Outputs:
    - Base/Logs/LogGroupApplicationError
