##-------------------------------------------------------------------------------------------------
# object:  Log/Application_Proxy
# class:   template
##-------------------------------------------------------------------------------------------------

Paradigm:
##-------------------------------------------------------------------------------------------------
  Parameters:
    - Base/Logs/LogRetentionDays

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    - Base/Logs/LogGroup/ApplicationProxy

##-------------------------------------------------------------------------------------------------
  Outputs:
    - Base/Logs/LogGroupApplicationProxy
