##-------------------------------------------------------------------------------------------------
# object:  CodeDeploy/Application_Server
# class:   template
##-------------------------------------------------------------------------------------------------

Paradigm:
##-------------------------------------------------------------------------------------------------
  Parameters:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/StackReferenceInitialize

    #-- CodeDeploy ----------------------------------------------------------------------
    - Base/CodeDeploy/CodeDeployApplication

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/Custom/StackReferenceResultsInitialize

    #-- CodeDeploy ----------------------------------------------------------------------
    - Base/CodeDeploy/Application/Server

    #-- Roles ---------------------------------------------------------------------------
    - Base/IAM/Role/CodeDeployServer

##-------------------------------------------------------------------------------------------------
  Outputs:
    #-- CodeDeploy ----------------------------------------------------------------------
    - Base/CodeDeploy/CodeDeployApplicationName
    - Base/CodeDeploy/CodeDeployApplicationAbbr
    - Base/CodeDeploy/CodeDeployRoleArn

    #-- S3 ------------------------------------------------------------------------------
    - Base/S3/S3BucketArtifacts_Initialize
