##-------------------------------------------------------------------------------------------------
# object: StackReference/Initialize
##-------------------------------------------------------------------------------------------------
Paradigm:
##-------------------------------------------------------------------------------------------------
  Parameters:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/StackReferenceInitialize

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/Custom/StackReferenceResultsInitialize

##-------------------------------------------------------------------------------------------------
  Outputs:
