##-------------------------------------------------------------------------------------------------
# object: Account/Config_Region
##-------------------------------------------------------------------------------------------------

Paradigm:
  Parameters:
    #-- S3 ------------------------------------------------------------------------------
    - Base/S3/S3BucketLogsGlobalName

    #-- Config --------------------------------------------------------------------------
    - Base/Config/ConfigDeliveryFrequency
    - Base/Config/ConfigIncludeGlobalResourceTypes

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Config --------------------------------------------------------------------------
    - Base/Config/DeliveryChannel/Region
    - Base/Config/ConfigurationRecorder/Region
    
    #-- SNS -----------------------------------------------------------------------------
    - Base/SNS/Topic/Config
    - Base/SNS/TopicPolicy/Config

    #-- IAM -----------------------------------------------------------------------------
    - Base/IAM/Role/Config

##-------------------------------------------------------------------------------------------------
  Outputs:
    #-- SNS -----------------------------------------------------------------------------
    - Base/SNS/Topic/ConfigArn
    - Base/SNS/Topic/ConfigTopicName
