##-------------------------------------------------------------------------------------------------
# object:  KMS/Key
# class:   template
##-------------------------------------------------------------------------------------------------

Paradigm:
##-------------------------------------------------------------------------------------------------
  Parameters:
    #-- KMS -----------------------------------------------------------------------------
    - Base/KMS/KMSKeyName

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- KMS -----------------------------------------------------------------------------
    - Base/KMS/Key/KMSKey
    - Base/KMS/Alias/KMSAlias

##-------------------------------------------------------------------------------------------------
  Outputs:
    #-- KMS -----------------------------------------------------------------------------
    - Base/KMS/KMSKeyArn
    - Base/KMS/KMSKeyId
    - Base/KMS/KMSAliasArn
    - Base/KMS/KMSAliasId
