##-------------------------------------------------------------------------------------------------
# object: VPC/Peering
##-------------------------------------------------------------------------------------------------

Paradigm:
##-------------------------------------------------------------------------------------------------
  Parameters:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/StackReferenceSource
    - Base/StackReference/StackReferenceTarget1
    - Base/StackReference/StackReferenceTarget2
    - Base/StackReference/StackReferenceTarget3
    - Base/StackReference/StackReferenceTarget4
    - Base/StackReference/StackReferenceTarget5
    - Base/StackReference/StackReferenceTarget6
    - Base/StackReference/StackReferenceTarget7
    - Base/StackReference/StackReferenceTarget8
    - Base/StackReference/StackReferenceTarget9
    - Base/StackReference/StackReferenceTarget10

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/ExistsStackReferenceTarget1
    - Base/StackReference/ExistsStackReferenceTarget2
    - Base/StackReference/ExistsStackReferenceTarget3
    - Base/StackReference/ExistsStackReferenceTarget4
    - Base/StackReference/ExistsStackReferenceTarget5
    - Base/StackReference/ExistsStackReferenceTarget6
    - Base/StackReference/ExistsStackReferenceTarget7
    - Base/StackReference/ExistsStackReferenceTarget8
    - Base/StackReference/ExistsStackReferenceTarget9
    - Base/StackReference/ExistsStackReferenceTarget10

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/Custom/StackReferenceResultsSource
    - Base/Custom/StackReferenceResultsTarget1
    - Base/Custom/StackReferenceResultsTarget2
    - Base/Custom/StackReferenceResultsTarget3
    - Base/Custom/StackReferenceResultsTarget4
    - Base/Custom/StackReferenceResultsTarget5
    - Base/Custom/StackReferenceResultsTarget6
    - Base/Custom/StackReferenceResultsTarget7
    - Base/Custom/StackReferenceResultsTarget8
    - Base/Custom/StackReferenceResultsTarget9
    - Base/Custom/StackReferenceResultsTarget10

    #-- Peering Connections -------------------------------------------------------------
    - Base/EC2/VPCPeeringConnection/SourceToTarget1
    - Base/EC2/VPCPeeringConnection/SourceToTarget2
    - Base/EC2/VPCPeeringConnection/SourceToTarget3
    - Base/EC2/VPCPeeringConnection/SourceToTarget4
    - Base/EC2/VPCPeeringConnection/SourceToTarget5
    - Base/EC2/VPCPeeringConnection/SourceToTarget6
    - Base/EC2/VPCPeeringConnection/SourceToTarget7
    - Base/EC2/VPCPeeringConnection/SourceToTarget8
    - Base/EC2/VPCPeeringConnection/SourceToTarget9
    - Base/EC2/VPCPeeringConnection/SourceToTarget10

    #-- Routes --------------------------------------------------------------------------
    - Base/EC2/Route/PeeringSourceToTarget1
    - Base/EC2/Route/PeeringSourceToTarget2
    - Base/EC2/Route/PeeringSourceToTarget3
    - Base/EC2/Route/PeeringSourceToTarget4
    - Base/EC2/Route/PeeringSourceToTarget5
    - Base/EC2/Route/PeeringSourceToTarget6
    - Base/EC2/Route/PeeringSourceToTarget7
    - Base/EC2/Route/PeeringSourceToTarget8
    - Base/EC2/Route/PeeringSourceToTarget9
    - Base/EC2/Route/PeeringSourceToTarget10

##-------------------------------------------------------------------------------------------------
  Outputs:
    - Base/VPCPeeringConnection/SourceToTarget1Id
    - Base/VPCPeeringConnection/SourceToTarget2Id
    - Base/VPCPeeringConnection/SourceToTarget3Id
    - Base/VPCPeeringConnection/SourceToTarget4Id
    - Base/VPCPeeringConnection/SourceToTarget5Id
    - Base/VPCPeeringConnection/SourceToTarget6Id
    - Base/VPCPeeringConnection/SourceToTarget7Id
    - Base/VPCPeeringConnection/SourceToTarget8Id
    - Base/VPCPeeringConnection/SourceToTarget9Id
    - Base/VPCPeeringConnection/SourceToTarget10Id

##-------------------------------------------------------------------------------------------------
  Targets:
    #-- Peering Connections -------------------------------------------------------------
    - Base/VPCPeeringConnection/SourceToTarget1
    - Base/VPCPeeringConnection/SourceToTarget2
    - Base/VPCPeeringConnection/SourceToTarget3
    - Base/VPCPeeringConnection/SourceToTarget4
    - Base/VPCPeeringConnection/SourceToTarget5
    - Base/VPCPeeringConnection/SourceToTarget6
    - Base/VPCPeeringConnection/SourceToTarget7
    - Base/VPCPeeringConnection/SourceToTarget8
    - Base/VPCPeeringConnection/SourceToTarget9
    - Base/VPCPeeringConnection/SourceToTarget10
