##-------------------------------------------------------------------------------------------------
# object:  Instance/Access_Database3
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/StackReferenceDatabase3

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/ExistsStackReferenceDatabase3

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/Custom/StackReferenceResultsDatabase3

    #-- Security Group ------------------------------------------------------------------
    - Base/EC2/SecurityGroupEgress/InstanceDatabase3
    - Base/EC2/SecurityGroupIngress/InstanceDatabase3

##-------------------------------------------------------------------------------------------------
  Outputs:

##-------------------------------------------------------------------------------------------------
  Targets:
