##-------------------------------------------------------------------------------------------------
# object:  Instance/Access_Database4
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/StackReferenceDatabase4

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/ExistsStackReferenceDatabase4

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/Custom/StackReferenceResultsDatabase4

    #-- Security Group ------------------------------------------------------------------
    - Base/EC2/SecurityGroupEgress/InstanceDatabase4
    - Base/EC2/SecurityGroupIngress/InstanceDatabase4

##-------------------------------------------------------------------------------------------------
  Outputs:

##-------------------------------------------------------------------------------------------------
  Targets:
