##-------------------------------------------------------------------------------------------------
# object:  Instance/Access_Database2
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/StackReferenceDatabase2

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/ExistsStackReferenceDatabase2

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/Custom/StackReferenceResultsDatabase2

    #-- Security Group ------------------------------------------------------------------
    - Base/EC2/SecurityGroupEgress/InstanceDatabase2
    - Base/EC2/SecurityGroupIngress/InstanceDatabase2

##-------------------------------------------------------------------------------------------------
  Outputs:

##-------------------------------------------------------------------------------------------------
  Targets:
