##-------------------------------------------------------------------------------------------------
# object:  Instance/Access_Database1
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/StackReferenceDatabase1

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/ExistsStackReferenceDatabase1

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/Custom/StackReferenceResultsDatabase1

    #-- Security Group ------------------------------------------------------------------
    - Base/EC2/SecurityGroupEgress/InstanceDatabase1
    - Base/EC2/SecurityGroupIngress/InstanceDatabase1

##-------------------------------------------------------------------------------------------------
  Outputs:

##-------------------------------------------------------------------------------------------------
  Targets:
