##-------------------------------------------------------------------------------------------------
# object:  Instance/AmazonLinux2_Standalone
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- EIP -----------------------------------------------------------------------------
    - Base/EIP/EnableElasticIp

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:
    #-- EIP -----------------------------------------------------------------------------
    - Base/EIP/EnabledElasticIp

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- AutoScaling ---------------------------------------------------------------------
    - Base/AutoScaling/AutoScalingGroup/Instance_Standalone
    - Base/EC2/LaunchTemplate/Instance_AmazonLinux2_Standalone

    #-- CodeDeploy ----------------------------------------------------------------------
    - Base/CodeDeploy/DeploymentGroup/Instance_Standalone

    #-- EIP -----------------------------------------------------------------------------
    - Base/EC2/EIP/Instance
    - Base/IAM/Policy/EIP

##-------------------------------------------------------------------------------------------------
  Outputs:
    #-- EIP -----------------------------------------------------------------------------
    - Base/EIP/EIPInstanceAllocationId
    - Base/EIP/EIPInstanceIpAddress

    #-- LoadBalancer --------------------------------------------------------------------
    - Base/LoadBalancer/LoadBalancerEnabledFalse

##-------------------------------------------------------------------------------------------------
  Targets:
    #-- EIP -----------------------------------------------------------------------------
    - Base/EIP/EIPInstance
