##-------------------------------------------------------------------------------------------------
# object:  Website/S3
# class:   template
##-------------------------------------------------------------------------------------------------

Paradigm:
##-------------------------------------------------------------------------------------------------
  Parameters:
    #-- S3 ------------------------------------------------------------------------------
	  - Base/S3/S3BucketName
    - Base/S3/S3NoncurrentVersionExpiration

    #-- Website Configuration -----------------------------------------------------------
    - Base/Website/WebsiteIndexDocument
    - Base/Website/WebsiteErrorDocument

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- S3 Bucket -----------------------------------------------------------------------
    - Base/S3/Bucket/Website
    - Base/S3/BucketPolicy/Website

##-------------------------------------------------------------------------------------------------
  Outputs:
    #-- S3 ------------------------------------------------------------------------------
    - Base/S3/S3BucketWebsite
    - Base/S3/S3BucketWebsiteURL