##-------------------------------------------------------------------------------------------------
# object:  LoadBalancer/Instance_NLB
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- LoadBalancer --------------------------------------------------------------------
    - Base/LoadBalancer/LoadBalancerNLBListenerPort

    #-- Network Related -----------------------------------------------------------------
    - Base/Network/SubnetTypeLoadBalancerNLB

    #-- DNS -----------------------------------------------------------------------------
    - Base/DNS/DNSLoadBalancerNLB

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:
    #-- Network Related -----------------------------------------------------------------
    - Base/Network/SubnetTypeLoadBalancerPrivateNLB

    #-- DNS -----------------------------------------------------------------------------
    - Base/DNS/ExistsDNSLoadBalancerNLB

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- LoadBalancer --------------------------------------------------------------------
    - Base/ElasticLoadBalancingV2/LoadBalancer/InstanceNLB
    - Base/ElasticLoadBalancingV2/Listener/InstanceNLB

    #-- DNS -----------------------------------------------------------------------------
    - Base/Route53/RecordSetGroup/DNSLoadBalancerNLB

    #-- Custom --------------------------------------------------------------------------
    - Base/Custom/NetworkLBIpAddressResults

##-------------------------------------------------------------------------------------------------
  Outputs:
    #-- LoadBalancer --------------------------------------------------------------------
    - Base/LoadBalancer/TargetGroupInstanceNLBName
    - Base/LoadBalancer/TargetGroupInstanceNLBARN

    #-- DNS -----------------------------------------------------------------------------
    - Base/DNS/DNSLoadBalancerNLB

##-------------------------------------------------------------------------------------------------
  Targets:
