##-------------------------------------------------------------------------------------------------
# object:  StackReference/AccountConfiguration
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
##-------------------------------------------------------------------------------------------------
  Parameters:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/StackReferenceAccountConfiguration

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/Custom/StackReferenceResultsAccountConfiguration

##-------------------------------------------------------------------------------------------------
  Outputs:
