##-------------------------------------------------------------------------------------------------
# object:  StackReference/Administrative
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
##-------------------------------------------------------------------------------------------------
  Parameters:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/StackReferenceAdministrative1
    - Base/StackReference/StackReferenceAdministrative2

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/ExistsStackReferenceAdministrative1
    - Base/StackReference/ExistsStackReferenceAdministrative2

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/Custom/StackReferenceResultsAdministrative1
    - Base/Custom/StackReferenceResultsAdministrative2

##-------------------------------------------------------------------------------------------------
  Outputs:
