##-------------------------------------------------------------------------------------------------
# object:  StackReference/VPN
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/StackReferenceVPN1
    - Base/StackReference/StackReferenceVPN2

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/StackReference/ExistsStackReferenceVPN1
    - Base/StackReference/ExistsStackReferenceVPN2

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Stack Reference -----------------------------------------------------------------
    - Base/Custom/StackReferenceResultsVPN1
    - Base/Custom/StackReferenceResultsVPN2

##-------------------------------------------------------------------------------------------------
  Outputs:
