##-------------------------------------------------------------------------------------------------
# object:  SQS/Queue
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- SQS -----------------------------------------------------------------------------
    - Base/SQS/SQSQueueName
    - Base/SQS/SQSQueueDelaySeconds
    - Base/SQS/SQSQueueMaximumMessageSize
    - Base/SQS/SQSQueueMessageRetentionPeriod
    - Base/SQS/SQSQueueReceiveMessageWaitTimeSeconds
    - Base/SQS/SQSQueueVisibilityTimeout

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- SQS -----------------------------------------------------------------------------
    - Base/SQS/Queue/SQSQueue

    #-- Stack Reference -----------------------------------------------------------------
    - Base/Custom/StackReferenceResultsVPC

##-------------------------------------------------------------------------------------------------
  Outputs:
    #-- SQS -----------------------------------------------------------------------------
    - Base/SQS/SQSQueueName
    - Base/SQS/SQSQueueArn
    - Base/SQS/SQSQueueUrl
