##-------------------------------------------------------------------------------------------------
# object: Instance/NAT
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- IAM Policy ----------------------------------------------------------------------
    - Base/IAM/Policy/NAT

    #-- Security Group ------------------------------------------------------------------
    - Base/EC2/SecurityGroupIngress/NAT
    - Base/EC2/SecurityGroupEgress/NAT

##-------------------------------------------------------------------------------------------------
  Outputs:

##-------------------------------------------------------------------------------------------------
  Targets:
