##-------------------------------------------------------------------------------------------------
# object: DNS/EIP
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- DNS -----------------------------------------------------------------------------
    - Base/DNS/DNSEIP

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- Route53 -------------------------------------------------------------------------
    - Base/Route53/RecordSetGroup/DNSEIP

##-------------------------------------------------------------------------------------------------
  Outputs:
    #-- DNS -----------------------------------------------------------------------------
    - Base/DNS/DNSEIPRecord


##-------------------------------------------------------------------------------------------------
  Targets:
