##-------------------------------------------------------------------------------------------------
# object:  S3/Application_Custom
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    #-- S3 Bucket -----------------------------------------------------------------------
    - Base/S3/S3BucketName
    - Base/S3/S3NoncurrentVersionExpiration
    - Base/S3/S3BlockPublicAcls
    - Base/S3/S3BlockPublicPolicy
    - Base/S3/S3IgnorePublicAcls
    - Base/S3/S3RestrictPublicBuckets

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:

##-------------------------------------------------------------------------------------------------
  Outputs:
    - Base/S3/S3BucketApplication
