##-------------------------------------------------------------------------------------------------
# object:  SSL/Certificate
# class:   template
##-------------------------------------------------------------------------------------------------
Paradigm:
  Parameters:
    - Base/SSL/SSLCertificateName

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    - Base/IAM/Policy/SSLCertificate

##-------------------------------------------------------------------------------------------------
  Outputs:
    - Base/SSL/SSLCertificateName
