##-------------------------------------------------------------------------------------------------
# object:  CodeDeploy/Application
# class:   template
##-------------------------------------------------------------------------------------------------

Paradigm:
##-------------------------------------------------------------------------------------------------
  Parameters:
    #-- CodeDeploy ----------------------------------------------------------------------
    - Base/CodeDeploy/CodeDeployApplication

##-------------------------------------------------------------------------------------------------
  Mappings:

##-------------------------------------------------------------------------------------------------
  Conditions:

##-------------------------------------------------------------------------------------------------
  Resources:
    #-- CodeDeploy ----------------------------------------------------------------------
    - Base/CodeDeploy/Application/App

    #-- Roles ---------------------------------------------------------------------------
    - Base/IAM/Role/CodeDeploy

##-------------------------------------------------------------------------------------------------
  Outputs:
    #-- CodeDeploy ----------------------------------------------------------------------
    - Base/CodeDeploy/CodeDeployApplicationName
    - Base/CodeDeploy/CodeDeployApplicationAbbr
    - Base/CodeDeploy/CodeDeployRoleArn
